/* Barre principale */
.top-navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  padding: 1rem 2rem;
  backdrop-filter: blur(8px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  height: 70px;
}

/* Spécifique à la page d'accueil */
.home-navbar {
  background-color: #000000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar-brand {
  font-size: 1.75rem;
  font-weight: bold;
  color: #2563eb;
  text-decoration: none;
}

/* Liens admin */
.admin-links {
  display: flex;
  gap: 1.5rem;
}

.admin-links a {
  text-decoration: none;
  color: #374151;
  font-weight: 500;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
  transition: color 0.2s, border-color 0.2s;
}

.admin-links a:hover {
  color: #111827;
}

.admin-links a.active {
  color: #2563eb;
  border-bottom-color: #2563eb;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.auth-links a,
.user-info span,
.user-info a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: #f5f6f7; /* blanc par défaut */
}

.auth-links .btn-primary {
  background-color: #2563eb;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 6px;
}

.user-info span {
  font-weight: 500;
}

.logout-link {
  cursor: pointer;
  font-weight: 500;
  color: #f5f6f7; /* blanc par défaut */
}

/* Classe appliquée dynamiquement pour le texte noir */
.dark-text {
  color: #000 !important;
}

.page-content {
  padding: 0rem;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-link {
  font-weight: 600;
  text-decoration: none;
  color: #f5f6f7; /* blanc par défaut */
  cursor: pointer;
}

.profile-link:hover {
  text-decoration: underline;
}
