html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.main-layout {
  display: flex;
  height: 100vh;
  width: 100vw; /* Ajout important */
}

.sidebar {
  width: 250px;
  background-color: #ffffff;
  color: white;
  min-height: 100vh;
  padding: 1rem;
  margin: 0; /* Évite tout décalage */
}

.content {
  flex: 1;
  overflow-y: auto;
  background-color: white;
}
