<div class="sidebar-wrapper">
  <ul class="nav">

    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard1" routerLinkActive="active">
        <i class="material-icons">dashboard</i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/users" routerLinkActive="active">
        <i class="material-icons">group</i>
        <span>Users</span>
      </a>
    </li>
    

    <li class="nav-item">
      <a class="nav-link" routerLink="/profile" routerLinkActive="active">
        <i class="material-icons">person</i>
        <span>User Profile</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/templates" routerLinkActive="active">
        <i class="material-icons">group</i>
        <span>Templates</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/history" routerLinkActive="active">
        <i class="material-icons">history</i>
        <span>Historique</span>
      </a>
    </li>

    
    
  </ul>
</div>
